.relatedList {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.relatedList li {
    width: 33.3%;
}

@media (max-width: 900px) {
    .relatedList li {
        width: 50%;
    }
}

@media screen and (max-width:500px) {
    .relatedList li {
        width: 100%;
    }
}

.itemBox {
    padding-bottom: 30px;
}