@media (max-width: 767px) {
    .wrapBox {
        padding-top: 81px;
    }
    .related.slickDotBox {
        display: none;
    }
}

@media (max-width: 767px) {
    header .middleBox {
        display: block;
    }
    .mainBox {
        padding-top: 0;
    }
}

@media (max-width: 640px) {
    .featureList.card2 li {
        width: 100%;
        margin-bottom: 5px;
    }
}

.featureList li:nth-child(even) .pic {
    background-color: #FFF;
}

.featureList .itemBox {
    position: relative;
}

.featureList .link {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.featureList .pic {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    height: 250px;
}

.featureList .pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*filter: blur(1px);*/
    /*opacity: 0.3;*/
}

.featureList .box {
    z-index: 2;
    padding: 15px;
    color: #fff;
    top: 0px;
    background-color: #275195;
    width: 100%;
    opacity: 0.8;
}

.featureList .title {
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .featureList .pic {
        max-height: 200px;
    }
    .featureList .title {
        font-size: 28px;
    }
}

.featureList .title::after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 55%;
    height: 4px;
    background-color: #fff;
}

.featureList .text {
    margin-bottom: 20px;
}

.relatedList {
    margin-left: -6px;
    margin-right: -6px;
}

.relatedList li {
    padding-left: 6px;
    padding-right: 6px;
}

.relatedList .pic img {
    display: block;
    width: 100%;
}

.eventList {
    margin-left: -6px;
    margin-right: -6px;
}

.eventList li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.eventList .pic img {
    display: block;
    width: 100%;
}

.eventList .itemBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    background-color: white;
}

.cardList .itemBox:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.eventList .itemBox:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.85;
}

.titleBoxStyle1 {
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
}

.titleBoxStyle1 .title {
    font-weight: 700;
    color: #292f55;
    padding-bottom: 0px;
}

.titleBoxStyle1 .more {
    font-size: 14px;
    color: #70748d;
    font-weight: 500;
}

.titleBoxStyle1 .more a:hover {
    border-bottom: 1px solid #275195;
}

@media (max-width: 767px) {
    .featureList .box {
        position: absolute;
    }
    .titleBoxStyle1 .title {
        font-size: 28px;
        width: 200px;
    }
    .titleBoxStyle1 .more {
        font-size: 14px;
    }
}

@media (min-width: 767px) {
    .relatedList .itemBox .left {
        width: 35%;
    }
    .relatedList .itemBox .right {
        width: 65%;
    }
    .relatedList .itemBox {
        display: flex;
    }
    .relatedList .itemBox .bottom {
        background-color: #f5e2c7;
    }
    .polygon-top::before {
        border-color: #FFF #FFF transparent transparent;
    }
}

@media (max-width: 640px) {
    .relatedList .webTitle,
    .relatedList .date {
        text-align: center;
    }
    .eventList .webTitle,
    .eventList .date {
        text-align: center;
    }
    .relatedList li {
        padding: 20px;
    }
}

.eventSection {
    background-color: #f2f2f2;
}

.relatedList li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.relatedList .itemBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    background-color: white;
}

.relatedList .itemBox:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.cardList .itemBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardList .itemBox:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.eventList .itemBox .pic {
    overflow: hidden;
}

.eventList .itemBox img:hover {
    transform: scale(1.1);
}

.bannerList.index {
    visibility: hidden;
}